*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: dark light;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #121212;
    color: white;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

body {
    min-height: 100vh;
    font-family: 'roboto';
    margin: 0 auto;
}

.cheveron-container {
    margin: 0 auto;
    cursor: pointer;
}
.cheveron {
    height: 5rem !important;
    width: 5rem !important;
    cursor: pointer;
    margin-left: -1rem;
    color: white;
}

a {
    text-decoration-color: white !important
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

.main-container {
    max-width: 2000px;
    margin: 0 auto;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}