.enquire-now-section {
    display: flex;
    height: 100%;
}

.enquire-now-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em;
}

.enquire-now-container h3 {
    margin-bottom: 1rem;
}

.enquire-now-container a {
    color: white;
    text-decoration-color: white;
}

.success-message {
    color: white;
    font-size: 3rem;
}

.MuiTypography-h2 {
    text-align: center;
}

.label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.enquire-now-form {
    padding: 0;
}

svg {
    color: #FFF;
}
