.gallery-section {
    height: 100vh;
}

.gallery-container {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 1vw;
    height: 100%;
    
 }
   
 .imageOne {    
    background-color: #695E7A; 
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 2;
    border: 5px solid #fff;
    border-radius: 20px;
    height: 300px;
 }
 .gallery-container .MuiTypography-h3 {
    /* background-color: #AB7F76;  */
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 3;
    grid-column-end: 3;
    /* border: 5px solid #fff; */
    border-radius: 20px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 1em;
 }
 .imageTwo {
    background-color: #5D95B9; 
    grid-row-start: 2;
    grid-column-start: 3;
    grid-row-end: 4;
    grid-column-end: 4;
    border: 5px solid #fff;
    border-radius: 20px;
    height: 300px;
 }
 .imageThree {
    background-color: #86E7C9; 
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 6;
    grid-column-end: 2;
    border: 5px solid #fff;
    border-radius: 20px;
    height: 300px;
 }
 .imageFour {
    background-color: #5ABEE5; 
    grid-row-start: 3;
    grid-column-start: 2;
    grid-row-end: 5;
    grid-column-end: 3;
    border: 5px solid #fff;
    border-radius: 20px;
    height: 300px;
 }
 .imageFive {
    background-color: #CC879B; 
    grid-row-start: 4;
    grid-column-start: 3;
    grid-row-end: 6;
    grid-column-end: 4;
    border: 5px solid #fff;
    border-radius: 20px;
    height: 300px;
 }
 .imageSix {
    background-color: #97BC5D; 
    grid-row-start: 6;
    grid-column-start: 1;
    grid-row-end: 8;
    grid-column-end: 2;
    border: 5px solid #fff;
    border-radius: 20px;
    height: 300px;
 }
 .imageSeven {
    background-color: #B59DE5; 
    grid-row-start: 5;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 3;
    border: 5px solid #fff;
    border-radius: 20px;
    height: 300px;
 }
 .imageEight {
    background-color: #D579C9; 
    grid-row-start: 6;
    grid-column-start: 3;
    grid-row-end: 8;
    grid-column-end: 4;
    border: 5px solid #fff;
    border-radius: 20px;
    height: 300px;
 }