
.gallery-container {
    display: grid; 
    grid-template-rows: 1fr 1fr;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 0.75em;
    margin-bottom: 1rem;
 }
 .gallery-container h3 {
   text-align: center;
}

.images-container h5  {
   text-align: center;
}
.images-container img  {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 300px;
      width: 400px;
}

.pagination {
   margin: 0 auto;
}
.pagination p {
   text-align: center;
}

.pagination button {
   background-color: #E0C123 !important;
}
.pagination button:hover {
   opacity: 0.8;
}

.pagination svg {
   color: black;
}

.MuiPaginationItem-root.Mui-selected {
   scale: 1.2;
   margin: 0.5rem;
 }