.HomeHeadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5em 0 5em 0;
}

.LisgoHeadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 1em;
    transform: rotate(-5deg);
}

.MuiLink-root.about-us-link{
    color: #ffd70d;
    text-decoration: underline;
    padding: 1em;
}

.LisgoHomeLogoContainer {
    margin: 1em;
}

.LisgoHomeLogo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 5em;
}

.leading-company-heading {
    font-size: 2.5rem;
}

.ReviewContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ReviewHeading {
    font-size: 2rem;
    margin: 0 1em 1em 1em;
}

.Carousel {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 600px;
}