.HomeSection {
  padding: 0;
  scroll-margin-top: 6em;
  width: 100% !important;
}

.HomeHeadingContainer {
  margin: 0;
}

.LisgoHeadingContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: center;
}

.LisgoHeadingContainer a {
  color: #ffffff;
}

.LisgoHomeLogo {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  animation: rotate 10s linear infinite;
}

.leading-company-heading {
  font-size: 5rem;
  text-align: center;
  margin: 0.4em 0;
}

.ReviewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #272727;
}

.ReviewContainer a {
  width: 100vw;
  text-align: center;
  color: white;
  text-decoration-color: white;
  background-color: #272727;
  padding: 1em 0;
}
.ReviewHeading {
  font-size: 2rem;
  margin: 0 1em 1em 1em;
}

#home > div.ReviewContainer > div > div.css-1m9128y > button > svg {
  color: inherit;
  border: none;
  padding: 0;
}

#home > div.ReviewContainer > div > div.css-1m9128y > button > svg > circle {
  color: inherit;
  padding: 0;
}

.Carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 150px;
  background-color: #272727;
  padding: 0.5em;
}

.Carousel div {
  display: flex;
  justify-content: center;
  background-color: transparent !important;
  border: none;
  color: #ffffff;
  box-shadow: none;
  font-style: italic;
}

.Carousel > :nth-child(4) {
  margin: 0.5em;
}

.Carousel > :nth-child(4) > button:active {
  color: yellow;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Starting position */
  }
  50% {
    transform: rotate(90deg); /* Rotate 90 degrees clockwise */
  }
  100% {
    transform: rotate(0deg); /* Back to starting position */
  }
}

.about-us-link {
  margin-bottom: 1em;
}

.enquire-now-link {
  margin-bottom: 0;
}

.enquire-now-link a {
  text-decoration: none;
  color: white;
}
.enquire-now-link a {
  text-decoration: none;
  color: white;
}

.home-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
  width: 100%;
}

.LisgoHomeLogoContainer > svg {
  margin-left: 1em;
}

.cheveron-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cheveron-container > svg {
  margin: 0 auto;
  height: 4rem !important;
  width: 4rem !important;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.cheveron {
  animation: bounce 5s linear infinite;
}

@media only screen and (min-width: 768px) {
  .leading-company-heading {
    font-size: clamp(2.5rem, 2.75vw + 0.5rem, 7rem);
  }
  .LisgoHomeLogoContainer > svg {
    height: clamp(225px, 17.5vw + 1vw, 465px) !important;
    width: clamp(225px, 17.5vw + 1vw, 465px) !important;
  }
  .LisgoHeadingContainer {
    flex-direction: column;
    align-items: stretch !important;
    justify-content: space-evenly;
    height: 100%;
  }
  .lisgo-heading {
    font-size: clamp(2rem, 2.15vw + 0.5rem, 5rem) !important;
  }
  .about-us-heading {
    font-size: clamp(1.25rem, 1.25vw + 0.5rem, 5rem) !important;
  }
  .enquire-now-heading {
    font-size: clamp(1.25rem, 1.25vw + 0.5rem, 5rem) !important;
  }
}

@media only screen and (max-width: 768px) {
  .leading-company-heading {
    font-size: 2.5rem;
  }
  .LisgoHomeLogoContainer > svg {
    height: 225px !important;
    width: 225px !important;
  }
  .MuiGrid-root.css-vj1n65-MuiGrid-root {
    align-items: space-evenly !important;
  }
  .lisgo-heading {
    font-size: 2rem !important;
  }
  .about-us-heading {
    font-size: 1.25rem !important;
  }
  .enquire-now-heading {
    font-size: 1.25rem !important;
  }
}
