.MuiPaper-root {
    padding: 2em;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1em auto;
    border: 1px solid salmon;
}

.review {
    margin: 0.25em;
}

.reviewName {
    margin: 0.25em;
}