.MuiPaper-root {
  padding: 2em;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 2em auto;
  font-size: 1.25rem;
  letter-spacing: 1pt;
  font-family: sans-serif;
}

.review {
  margin: 0.25em;
  word-wrap: normal;
  word-break: normal;
}

.reviewName {
  margin: 1em 0.25em !important;
}
