.MuiPaper-root {
  padding: 2em;
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 2em auto;
  font-size: 1.25rem;
  letter-spacing: 1pt;
  font-family: sans-serif;
}

.review {
  margin: 0.25em 0.25em 0 0.25em !important;
  word-wrap: normal;
  word-break: normal;
  letter-spacing: 1.25pt;
}

.reviewName {
  margin: 0.25em 0.25em 0 0.25em !important;
}

@media only screen and (min-width: 768px) {
  .review {
    font-size: clamp(0.75rem, 0.75vw + 0.5rem, 1.3rem);
  }
  .reviewName {
    font-size: clamp(0.75rem, 0.75vw + 0.5rem, 1.3rem);
  }
}

@media only screen and (max-width: 768px) {
  .review {
    font-size: 0.75rem !important;
  }
  .reviewName {
    font-size: 0.75rem !important;
  }
}
