.MuiContainer-root.navigation-container {
  background-color: #121212;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100vw;
  position: sticky;
  overflow: auto;
  top: 0;
  left: 0;
  z-index: 100;
}

.MuiLink-root.navigation-link {
  color: #ffffff;
  font-size: 1rem;
}

.LisgoLogoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Starting position */
  }
  50% {
    transform: rotate(90deg); /* Rotate 90 degrees clockwise */
  }
  100% {
    transform: rotate(0deg); /* Back to starting position */
  }
}

.LisgoLogo {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0.5em;
  animation: rotate 10s linear infinite;
}

.Lisgo-Logo-Heading {
  text-align: center;
}

.menu-icon {
  display: flex;
  justify-content: flex-end;
  font-size: 4rem !important;
}

@media only screen and (max-width: 768px) {
  .MuiContainer-root.navigation-container {
    content: "";
    justify-content: space-between;
  }
}

/* Apply the animation to the logo
.logo { */
/* Rotate animation, 2 seconds duration, linear easing, infinitely repeated */
/* } */
