.HomeSection {
  padding: 0;
  scroll-margin-top: 6em;
  width: 100% !important;
}

.HomeHeadingContainer {
  margin: 0;
}

.LisgoHeadingContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-self: center;
  justify-content: center !important;
  margin-right: 2rem;
}

.LisgoHeadingContainer a {
  color: #ffffff;
}

.LisgoHomeLogo {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  animation: LisgoHomeLogorotate 10s linear infinite;
}

.leading-company-heading {
  font-size: 5rem;
  text-align: center;
  margin: 0;
}

#home
  > div.ReviewContainer
  > div
  > div.css-1f8sh1y
  > div
  > div
  > div
  > div
  > div {
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
}

#home > div.ReviewContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: left;
  width: 100vw;
  background-color: #272727;
}

#home > div.ReviewContainer > div {
  text-align: left;
  background-color: transparent !important;
}

#home > div.ReviewContainer > div > div.css-1m9128y {
  margin-top: 2rem;
}
#home > div.ReviewContainer > a {
  display: flex;
  justify-self: center !important;
  color: #ffffff;
  margin: 0.6rem auto;
}

#home > div.ReviewContainer > div > div.css-1m9128y > button > svg {
  color: inherit;
  border: none;
  padding: 0;
}

#home > div.ReviewContainer > div > div.css-1m9128y > button > svg > circle {
  color: inherit;
  padding: 0;
}

.Carousel > :nth-child(4) > button:active {
  color: yellow;
}

#home > div.ReviewContainer > a {
  font-size: 1rem !important;
}

@keyframes LisgoHomeLogorotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.enquire-now-link a {
  text-decoration: none;
  color: white;
}

.home-title-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lisgo-heading {
  font-weight: 400 !important;
}
.LisgoHomeLogoContainer > svg {
  margin-left: 1em;
}

#home > div.home-title-container > div.cheveron-container {
  padding: 0 !important;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home > div.home-title-container > div.cheveron-container > svg {
  position: relative;
  top: -0.5em;
  padding: 0;
  margin: 0;
}

#home
  > div.home-title-container
  > div
  > div:nth-child(2)
  > .LisgoHomeLogoContainer
  > svg {
  margin: 0 auto;
}

.cheveron-container > svg {
  margin: 0 auto;
  height: 4rem !important;
  width: 4rem !important;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.cheveron {
  margin-top: 0;
  animation: bounce 5s linear infinite;
}

@media only screen and (max-width: 600px) {
  .MuiGrid-root.MuiGrid-container.css-11lq3yg-MuiGrid-root {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1em;
  }

  #home > div.home-title-container > div > div > div > h3 {
    margin-top: 0.75em !important;
  }
  .LisgoHomeLogoContainer > svg {
    margin-top: 2em;
  }
  .cheveron-container {
    margin-top: 1em !important;
  }
}

@media only screen and (min-width: 768px) {
  .leading-company-heading {
    font-size: clamp(2.5rem, 2.75vw + 0.5rem, 7rem);
  }
  .LisgoHomeLogoContainer > svg {
    margin-top: 1rem;
    height: clamp(225px, 17.5vw + 1vw, 465px) !important;
    width: clamp(225px, 17.5vw + 1vw, 465px) !important;
  }
  .LisgoHeadingContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }
  .lisgo-heading {
    margin-top: 1rem !important;
    font-size: clamp(2rem, 2.15vw + 0.5rem, 5rem) !important;
  }
  .cheveron-container {
    margin-top: 1rem !important;
  }
  .see-more-reviews-link {
    font-size: clamp(0.75rem, 0.3vw + 0.5rem, 5rem) !important;
  }
  .enquire-now-link {
    font-size: clamp(1rem, 1.1vw + 0.5rem, 5rem) !important;
  }
}

@media only screen and (max-width: 768px) {
  .leading-company-heading {
    font-size: 2.5rem;
  }
  .LisgoHeadingContainer {
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 0;
  }
  .LisgoHomeLogoContainer > svg {
    height: 225px !important;
    width: 225px !important;
  }
  .MuiGrid-root.css-vj1n65-MuiGrid-root {
    align-items: space-evenly !important;
  }
  .lisgo-heading {
    margin-top: 1rem !important;
    font-size: 2rem !important;
  }
  .see-more-reviews-link {
    font-size: 0.75rem !important;
  }
  #home > div.home-title-container > div > div:nth-child(2) > div {
    margin-top: 1rem;
  }
  .enquire-now-link {
    font-size: 1.2rem !important;
  }
}
