.footer-container {
  background-color: #e0c123;
  position: sticky;
  bottom: 0;
  color: black !important;
  padding: 0.75rem 0;
  margin: 0;
}

#root > section > div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#root > section > div > div > h1 {
  margin: 0;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}

#root > section > div > div {
  padding: 0 0.3em;
  max-width: 250px;
}

.info a {
  text-decoration-color: black !important;
  color: black;
}

.social-media-content {
  display: flex;
  cursor: pointer;
}

.social-media-content img {
  height: 60px;
  width: 60px;
  margin: 5px;
}

.social-media-content svg {
  color: black;
}
