*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #121212;
  color: white;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

body {
  min-height: 100vh;
  font-family: "roboto";
  margin: 0;
  padding: 0;
}

.cheveron-container {
  margin: 0 auto;
  cursor: pointer;
}
.cheveron {
  height: 5rem !important;
  width: 5rem !important;
  cursor: pointer;
  margin-left: -1rem;
  color: white;
}

a {
  text-decoration-color: white !important;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.app-container {
  max-width: 100% !important;
  margin: 0;
  padding: 0 !important;
  width: 100%;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  h2.MuiTypography-root {
    font-size: clamp(2rem, 2.15vw + 0.5rem, 5rem);
  }
  h3.MuiTypography-root:not(.home-title-container h3) {
    font-size: clamp(2rem, 2.15vw + 0.5rem, 5rem) !important;
  }
  h4.MuiTypography-root {
    font-size: clamp(1.75rem, 2vw + 0.5rem, 5rem);
  }
}
